.container {
  display: grid;
  grid-template-columns: 195px auto;
  grid-gap: 5px;

}
label{
    cursor: pointer;
    display: none;
  }

@media screen and (max-width: 400px) {
  .container {
    grid-template-columns:  100%  ; 
}
.nav-unactive{
    display: none;
    }
    .nav-active{
        display: block;
        width: 100vw;
    
    }
    label{
        cursor: pointer;
        display: block;
      }
.screen{
    overflow: auto;
}
    }
body{
    position: relative;

}
img {
    width: 40px;
    background-color: transparent;
    position: fixed;
  }

  .boton {
      display: inline-block;
      position:absolute;
      left: 5px;
      top: 5px;
}
#check{
    display: none;
}