<header>
    <h1>Bienvenido a Futbol API</h1>
</header>
<div class="container">
    <div class="info">
        <h3>Observa el Contenido</h3>
        <p>Navega y observa las ligas y equipos del mundo.</p>
        <button class="click" [routerLink]="['/main/pais']">Navega!</button> 

    </div>
    <div class="auth">
        <h3>Quiero Contribuir!</h3>
        <p>Logueate y contribuye añadiendo ligas y equipos.</p>
        <h4 class="click"><a [routerLink]="['/register']"   >Registrate</a> o <a [routerLink]="['/login']">Inicia Sesión</a></h4>

    </div>
</div>