<div class="container">
    <div class="header">
        <h1>Equipos</h1>
        <app-input placeholder="buscar Equipo..." (palabra)="obtenerClub($event)"></app-input>
    </div>
    <div class="list">
        <div class="no-result" *ngIf="Equipos.length<1">
            <p>No hay resultados...</p>
        </div>
        <div class="card" *ngFor="let Equipo of Equipos">
            <img [src]="Equipo.team_logo" class="card-img-top" alt="imagen de Equipo" srcset="">
            <div class="card-title" [routerLink]="['/main/club', Equipo.id]" routerLinkActive="router-link-active" ><h3 class="card-title">{{Equipo.team_name}}</h3></div>
        </div>

    </div>
</div>

