*{
    text-align: center;
    color: white;
}
header{
    padding-top: 10px;
    height: 100px;
    box-shadow: 0px  0px 15px black;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr))
}

li>img{
    width: 50px;
    margin: 10px 10px;
}
ul{
    padding: 5px 15px;
    list-style: none;
    
}
li{
    display: flex;
    margin-top: 5px;
    align-items: center;
    box-shadow: 0px 2px 5px black;
    padding: 5px 2px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
#team_logo{
    width: 35%;
}
#country_flag{
    
    width: 50px;
    border-radius: 80%;
}
.info-list{
    justify-content: space-between;
    padding: 5px 10px;
    height: 50px;
   
}
.tournaments-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.tournaments-list>li{
    width: min-content;
    border-radius: 5%;
    box-shadow: 0px 2px 5px white;
}
#agregar>img{
    width: 40px;
}
p{
    font-size: 20px;
}