<div class="nav">
  <div class="head">
    <img
      src="../../../assets/img/Gerald_G_Soccer_Ball.svg"
      alt="image"
      srcset=""
      id="ball-image"
    />
  </div>
  <ul>
    <li class="nav-item">
      <h3>continentes</h3>
    </li>
    <li class="nav-item" routerLink="confederaciones">
      <h3>confederaciones</h3>
    </li>
    <li class="nav-item" routerLink="pais" routerLinkActive="active">
      <h3>paises</h3>
    </li>
    <li class="nav-item" routerLink="ligas">
      <h3>ligas</h3>
    </li>
    <li class="nav-item" routerLink="clubes">
      <h3>clubes</h3>
    </li>
  </ul>
</div>
